footer{
    text-align: center;
}

.tiny{
    font-size: 1px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #004085;
}

#avisoplaza{
    background-color: #1c7430;
    color: #ffffff;
}

.iconos{
    vertical-align: middle;
}